.container {
    width: fit-content;
    border-width: 2px;
    border-color:blue;
    padding: 1rem;
}

/* https://stackoverflow.com/questions/16858926/class-names-concatenated-or-separated-by-a-space */
.detailStyle[open] .summaryStyle:after {
    content: "-";
}

.iconStyle {
    font-size: 7em;
}