.container {
    background-color: rgb(32, 32, 32);
}

.bodyContainer {
    display: flex;
    padding: 4rem 20rem;
}

.headerStyle {
    color: whitesmoke;
}

.textStyle {
    color: whitesmoke;
    list-style-type: none;
    text-decoration: underline;
}