html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media acts as a dynamic way to manipulate pages
   in this code below the program checks IF the user's computer is set to dark mode
   and then all the selectors beneath it will be affected and used*/
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: #E0FBFC;
  }
}

@media (max-width: 430px) {
  body {
    font-size: 0.6rem;
  }


  
}
