.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2dfe3;
    padding: 2rem;
}

.detailContainer {
    border-width: 2px;
    border-color: aquamarine;
    width: fit-content;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

