.container {
    display: block;
    height: fit-content;
    overflow-x: hidden; /* the displayContainer goes off the screen which causes an overflow
    stop the overflow by hiding it */
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c2dfe3;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 100%;
}

.simpleGridWrapper {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.inactiveDisplayContainer {
    display: flex;
    min-height: 100vh;
    justify-self: center;
}

.activeDisplayContainer {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.buttonWrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.inputWrapper {
    margin-top: 1.5rem;
}

.detailContainer {
    border-width: 2px;
    border-color: aquamarine;
    width: fit-content;
}

.title {
    font-size: 4.5em;
}

.zipcodeCityTextStyle {
    font-size: 2.5em;
}

