.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    align-items: center;
}