.navbar {
    display: flex;
    align-items: center;
    background: #E0FBFC;
    padding: 1.2rem 4rem;
    height: 6%;
}

.navbarNavigation {
    margin-left: auto;
}

.navbarNavigationItemsActive {
    margin: 1.5vw;
    border-bottom: solid black 2px;
    border-left: black;
}

.navbarNavigationItemsInactive {
    margin: 1.5vw;
}

.navbarListItems {
    display: inline;
}

.navbarTitle {
    margin-left: 1vw;
    color: #253237;
}