/* https://stackoverflow.com/questions/16858926/class-names-concatenated-or-separated-by-a-space */
.detailStyle[open] .summaryStyle:after {
    content: "-";
}

.iconStyle {
    font-size: 7em;
}

@media (max-width: 430px) {
  .iconStyle {
    font-size: 3rem;
  }
}

@media (max-width: 1919px) {
  .iconStyle {
    font-size: 5rem;
  }
}

/* @media only screen and (max-width: 2560px) {
    .iconStyle {
      font-size: 7em;
    }
}

@media only screen and (max-width: 1980px) {
    .iconStyle {
      font-size: 7em;
    }
}
  
  @media only screen and (max-width: 1280px) {
    .iconStyle {
      font-size: 4em;
    }
} */